body {
  height: 100vh;
  margin: 0px;
  background-image: url(/public/images/bg1.jpg);
  background-size: cover;
}

.parent {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
}

.login-text {
  color: white;
}

.input-box {
  width: 500px;
  height: 30px;
}

.pass-text {
  color: white;
}

.login-box-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-button {
  width: 200px;
  height: 25px;
}

.grow:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.3s;
}
